<p>
Dear <%= creatorName %>,
</p>
<p>
Your <%=itemType%> has been flagged by another user because <span style="font-weight:bold">"<%= reason %>"</span>.
<br/>
Additional comments by reporter were:<%= comment %>
<br/>
</p>
<p>
    Please respond ASAP to info@lergo.org if you think these claims are without merit, or alternately please address these concerns, and send an email to info@lergo.org, explaining how you addressed these concerts (e.g. deleted lesson, removed certain content, added copyright notice under Edit Summary of questions etc.).
</p>
<p>
    Please note that LerGO takes these reports very seriously and that accounts are penalized for Terms of Community Guidelines violations and serious or repeated violations can lead to account termination.
</p>

<p>
Thank you for your cooperation
<br/>
</p>
<p>
The LerGO Team
</p>

<p>
    Powered by <a href="http://www.lergo.org/">LerGO - Educate Yourself.</a>
    <br/>
    <a href="https://docs.google.com/forms/d/1wyO39CkCTiNAP1BrJLti0GjA8eMq6rv-QcZu0Lw1-tE/viewform?usp=send_form">Terms of Service</a> -
    <a href="https://docs.google.com/forms/d/1YQnB8KoouFW2cJHsO_bkdxAD2ekuLYJyvaH6AuIU-Ig/viewform?usp=send_form"> Send Feedback</a> -
    <a href="https://docs.google.com/forms/d/1t_CtQxTMJlTlLRx-3lSPv8bNfw3nVXpE2B2hGkdeSMg/viewform">Report Abuse</a> -
    <a href="https://docs.google.com/forms/d/1rU6sTKskoTqrd9u1wgiX_zG0QpfWsxizxe8CdDRj4fk/viewform?usp=send_form">Suggest a Lesson</a>
    <br/>
</p>

